{% extends 'base.html.twig' %}

{% block body %}
    {% for note in notes %}
        <h3>{{ note.title }} <small>reminder: {{ note.remindAt | date("Y-m-d H:i:s") }}</small></h3>
        <p>id: {{ note.id }}</p>
        <p>{{ note.content }}</p>
        <hr>
    {% endfor %}
{% endblock %}
